<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CRM-Dataverse" value="https://nuget.crm.dynamics.com/" />
  </packageSources>
  <packageSourceCredentials>
    <CRM-Dataverse>
      <add key="Username" value="dummy" />
      <add key="ClearTextPassword" value="dummy" />
    </CRM-Dataverse>
  </packageSourceCredentials>
</configuration>